.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-header-container {
  display: flex;
  height: 80px;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

/* css for search component */

input[type="text"] {
  font: 500 5rem/2.5rem "Roboto Mono", monospace;
  border: 0;
  outline: none;
  text-align: center;
}

input[type="text"]::placeholder {
  color: rgb(192, 192, 192);
}

input[type="text"]:hover {
  border: 0;
  outline: none;
}

input[type="text"]:focus {
  border: 0;
  outline: none;
}

/* css for movies component */

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  padding: 16px;
}
